
<br>
<h1> Liste des Article :</h1> <br><br>
<table class="table table-striped"style="width: 97%;margin: 0.5cm;">
  <thead style="margin-left: 2cm;">
  <th>Description</th>
  <th>Quantité</th>
  <th>Type</th>
  <th>Supprimer</th>
  <th>Modifier</th>

  </thead>
  <tr  *ngFor="let hero of users">
    <td>{{hero.description}}</td>
    <td>{{hero.quantite}}</td>
    <td>{{hero.type}}</td>

    <td>
      <button (click)="delete(hero.id)"  class="btn btn-danger">Supprimer</button>
      </td>
    <td>
      <button (click)="update(hero.id)"  class="btn btn-info">Modifier</button>
    </td>




  </tr>

</table>
<a href="/Add" class="nav-link" routerLink="add">Ajouter Article</a>
